@import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Cormorant&family=Red+Hat+Text&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background: #151515;
    color: white;
    display: flex;
}

.btns{
    margin-left: 50px;
    /* border: red solid 2px; */
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    gap: 50PX;
}

.btns button{
    height: 100px;
    width: 100px;
    border-radius: 300px;
    border: white 7px solid;
    cursor: pointer;
    transition: 0.3s;
}

#rock{
    background: url('img/rock-p1.png') center no-repeat;
    background-size: contain;
    background-color: #618E5A;

}
#paper{
    background: url('img/paper-p1.png') center no-repeat;
    background-size: contain;
    background-color: #618E5A;

}
#scissors{
    background: url('img/scissors-p1.png') center no-repeat;
    background-size: contain;
    background-color: #618E5A;

}
.btns button:hover, #rock:hover, #paper:hover, #scissors:hover{
    background-color: #e84614;

}

.container{
    /* border: red solid 2px; */
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container h1{
    margin-top: 50px;
    font-size: 60px;
    font-weight: 300;
    font-family: 'Chela One', cursive;
    -webkit-text-stroke-width: 3.2px;
    -webkit-text-stroke-color: #000000;
    -webkit-text-fill-color: #ffffff;
}

#result{
    /* border: red solid 2px; */
    -webkit-text-stroke-width: 3.2px;
    -webkit-text-stroke-color: #000000;
    -webkit-text-fill-color: #ffffff;
    width: 100%;
    font-size: 100px;
    font-family: 'Chela One', cursive;
    letter-spacing: 0.11em;
    transition: all 1s;
}


.section-img{
    position: absolute;
    bottom: 5%;
    /* border: red solid 2px; */
    width: 100%;
    height: 50%;
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
}

.section-img div{
    /* border: red solid 2px; */
    width: 50%;
    position: relative;
    height: 100%;
    display: flex;
}

#p1-signs{
    /* border: red solid 2px; */
    justify-content: center;
}
#p2-signs{
    /* border: red solid 2px; */
    justify-content: center;
}

.section-img div img{
    width: 300px;
    height: 300px;
}

.container.pre-animation {
    opacity:0;
    max-height: 0;
}

@media(max-width : 900px){
    /* body{
        flex-direction: column-reverse;
    } */
    .container{
        margin-top: 9vh;
        height: 70vh;
    }
    .btns{
        height: 15vh;
        width: 100%;
        margin-left: 0;
        flex-direction: row;
        position: absolute;
        bottom: 5vh;
    }
    .section-img div img{
        width: 200px;
        height: 200px;
    }

    
}
@media(max-width: 660px){
    #result{
        font-size: 75px;
    }
}
@media(max-width: 450px){
    .container{
        margin-top: 15vh;
        height: 60vh;
    }
    #result{
        font-size: 60px;
    }
    .section-img div img{
        width: 170px;
        height: 170px;
    }
    .btns button{
        height: 80px;
        width: 80px;
    }
    .btns{
        bottom: 10vh;
    }
}